.game {
  box-shadow: 4px 5px 23px 0px rgba(0,0,0,0.75);
  max-width: 600px;
  max-height: 600px;
  width: 90vw;
  height: 90vw;
  display: flex;
  flex-direction: column;
}

.game--field {
  position: relative;
  background-color: #24ad98;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game--field.game--over {
  background-color: #096d53;
}

.game--grid {
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.game--overlay {
  position: relative;
  box-shadow: 4px 5px 23px 0px rgba(0,0,0,0.75);
  width: 75%;
  height: 75%;
  visibility: hidden;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  background-color: #24ad98;
  z-index: 10;
}


.game--row {
  flex: 1;
  display: flex;
}

.game--cell {
  flex: 1;
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game--cross {
  position: absolute;
  visibility: hidden;
}

.game--circle {
  position: absolute;
  visibility: hidden;
}

.game--overlay > .game--cross {
  width: 0%;
  height: 0%;
  padding-top: 9%;
  transform: translateX(-50%);
  transition: width .7s, height .7s;
}

.active.game--cross {
  width: 85%;
  height: 85%;
}

.game--overlay > .game--circle {
  width: 0%;
  height: 0%;
  padding-top: 9%;
  transform: translateX(-50%);
  transition: width .7s, height .7s;
}

.active.game--circle {
  width: 85%;
  height: 85%;
}

.game--restart--parent {
  background-color: #c0cecc;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game--restart--child {
  text-align: center;
  flex: 1;
  color: #24ad98;
  font-weight: bold;
  font-family: sans-serif;
}